<html>
             <head> 
             </head>
             <body>
                 <h1> Livros </h1>
                 <table>
                    <tr>
                        <td>ID</td>
                        <td>Título</td>
                    </tr>
                    <for (livro in data.livros )>
                    <tr>
                        <td>${livro.id}</td>
                        <td>${livro.titulo}</td>
                    </tr>
                    </for>
                 </table>
             </body>
         </html>